.idea/
.vagrant/
bower/
cache/
cache_old/
keys/
logs/
tmp/
static/packages

*.pyc
Vagrantfile.bak.*

.DS_Store
.dockercfg
application.cfg
set_credentials.sh
Vagrantfile

#symlinks
web/datastax/black-friday/static
web/datastax/black-friday/templates

