{% extends "datastax/ticker/base.jinja2" %}

{% block title %}Ticker{% endblock %}

{% block body %}
    <body>
    <div id="recommendations-page-div">
        {% include "datastax/ticker/navbar.jinja2" %}

        <table id="item-list">
            <thead>
            <tr>
                <th class="tapcell1">Symbol
                </th>
                <th class="tapcell2">Action</th>
                <th class="tapcell3">Why
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="selecteditem" id="itemblistutton1">
                <td class="tapcell1">
                    <a href="#">GPRO</a>
                </td>
                <td class="tapcell2">
                    BUY
                </td>
                <td class="tapcell3">+ 45% / 55%</td>
            </tr>
            <tr id="itemblistutton2" class="recspricefallingtr">
                <td class="tapcell1">
                    FB
                </td>
                <td class="tapcell2">SELL</td>
                <td class="tapcell3">- 20% / 15%</td>
            </tr>
            </tbody>
        </table>

        <div id="details-list-block">

            <div id="itemblistdetails1" class="itemblistdetailsclass">
                <table id="details-list">
                    <tbody>
                    <tr>
                        <td class="dlcname">
                            <a href="#">GoPro Inc.</a>
                        </td>
                        <td>
                            <p class="dlcsubheader">Quantity</p>

                            <p>200</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="dlcsubheader">Price </p>

                            <p>$43.00</p>
                        </td>
                        <td>
                            <p class="dlcsubheader">Balance</p>

                            <p>$8,600.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="gencolorcode">
                            <p class="dlcsubheader">Why</p>

                            <p>+ 45% Gain / 55% of Peers Invested</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="itemblistdetails2" class="itemblistdetailsclass">
                <table id="details-list">
                    <tbody>
                    <tr>
                        <td class="dlcname">
                            <a href="#">Facebook</a>
                        </td>
                        <td>
                            <p class="dlcsubheader">Quantity</p>

                            <p>150</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="dlcsubheader">Price </p>

                            <p>$90.00</p>
                        </td>
                        <td>
                            <p class="dlcsubheader">Balance</p>

                            <p>$0.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="gencolorcode">
                            <p class="dlcsubheader">Why</p>

                            <p class="genlossfld">- 20% Loss / 15% of Peers
                                Invested</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="static/js/datastax/ticker/custom-v1.js"></script>
{% endblock %}
