{% extends "datastax/ticker/base.jinja2" %}

{% block title %}Ticker{% endblock %}

{% block body %}
    <div id="page-generic">
        {% include "datastax/ticker/navbar.jinja2" %}

        <table id="item-list">
            <thead>
            <tr>
                <th class="tapcell1">Symbol
                </th>
                <th class="tapcell2">Closing
                </th>
                <th class="tapcell3">Gain (Loss)
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="selecteditem" id="itemblistutton1">
                <td class="tapcell1">AAPL</td>
                <td class="tapcell2">$224.00</td>
                <td class="tapcell3 pricerising">+ $26,700.00</td>
            </tr>
            <tr id="itemblistutton2">
                <td class="tapcell1">TSLA</td>
                <td class="tapcell2">$220.00</td>
                <td class="tapcell3 pricerising">+ $18,200.00</td>
            </tr>

            </tbody>
        </table>

        <div id="details-list-block">

            <div id="itemblistdetails1" class="itemblistdetailsclass">
                <table id="details-list">
                    <tbody>
                    <tr>
                        <td class="dlcname">Apple</td>
                        <td>
                            <p class="dlcsubheader">Quantity</p>

                            <p>300</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="dlcsubheader">&nbsp; </p>

                            <p>&nbsp; </p>
                        </td>
                        <td>
                            <p class="dlcsubheader">Opening Trans.</p>

                            <p>$135.00</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div id="itemblistdetails2" class="itemblistdetailsclass">
                <table id="details-list">
                    <tbody>
                    <tr>
                        <td class="dlcname">
                            Tesla
                        </td>
                        <td><p class="dlcsubheader">
                            Quantity</p>

                            <p>
                                140
                            </p></td>
                    </tr>
                    <tr>
                        <td><p class="dlcsubheader">&nbsp; </p>

                            <p>&nbsp; </p></td>
                        <td><p class="dlcsubheader">
                            Opening Trans.</p>

                            <p>
                                $90.00
                            </p></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <script src="static/js/datastax/ticker/custom-v1.js"></script>

{% endblock %}
